<% content_for :head do %>
  <title>InfoTech - Home page</title>
<% end %>

<% content_for :content do %>
  <article>
    <section>
      <h1>Welcome to InfoTech</h1>
      <h2>The best digital magazine about technology</h2>
      <p>To suscribe click <a href="/register">here</a></p>
      <p>If you already have an account login <a href="/login">here</a></p>
    </section>
  </article>
  <footer>

  </footer>
<% end %>
</html>