<% content_for :head do %>
  <title>InfoTech - Registered user</title>
<% end %>

<% content_for :content do %>
  <article class="col-12">
    <section>
      <div>
        <h1>You are registered.</h1>
        <%= link_to "Go to home", root_path%>
      </div>
    </section>
  </article>
<% end %>